data/
survey_results_public_2017.csv
survey_results_public_2018.csv
survey_results_public_2019.csv
.ipynb_checkpoints/DataCleaning-checkpoint.ipynb
survey_data_17_to_19.csv
.ipynb_checkpoints/DevTypeStats-checkpoint.ipynb
